body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    front-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
hr{
    background-color: #e5e5e5;
    display: block;
    height: 1px;
    border: 0;
    width: 100%;
    margin: 40px 0;


}

/*Container*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*Intro*/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background: url("../images/intro.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.intro__inner{
    width: 100%;
    max-width: 650px;
    margin: auto;
    text-align: center;
}
.intro__title {
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    color: #ffffff
}
.intro__title:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 100px auto 60px;
    background-color: white;

}
.intro__suptitle {
    margin-bottom: 20px;
    font-family: 'Kaushan Script';
    font-size: 50px;
    color: #ffffff;
    text-align: center;

}


.header {
    padding-top: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}
.nav{
    font-size: 14px;
    text-transform: uppercase;
}
.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    color: white;
    text-decoration: none;
    transition: color .1s linear;
}
.nav__link:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fce38a;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;
}
.nav__link:hover {
    color: #fce38a;
}
.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
    display: block;
}
.nav__link:hover:active {
    color: #fce38a;
}
/*Button*/
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    border: 4px solid #ffffff;
    font-size: 14px;
    font-weight: bold;

    color: white;
    text-transform: uppercase;
    text-decoration: none;
    transition: background .1s
    linear, color .1s linear;
}
.btn:hover{
    background-color: white;
    color: black;
}
/*SLIDER*/
.slider {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.slider_inner{
    display: flex;

    justify-content: space-between;

}
.slider__item {
    width: 23%;
    padding: 20px 0;
    position: relative;

    border-top: 3px solid #ffffff;
    opacity: .7;
    color: white;
    font-size: 18px;
    text-transform:uppercase ;

}
.slider__item.active {
    opacity: 1;
}
.slider__item.active:before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;

    background-color: #f38181;

    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
}

.slider__num    {
    font-size: 24px;
    font-weight: 700;
}
/*SECTION*/
.section{
    padding: 80px 0;
}
.section__header{
    margin: 40px auto 50px;
    width: 100%;
    text-align: center;

}
.section__subtittle{
    font-family: 'Kaushan Script';
    font-size: 24px;
    color: #333333;
}
.section__tittle{
    font-size: 30px;
    color: #333333;
    font-weight: 700;
    text-transform: uppercase;
}
.section__text{
    font-size: 15px;
    color: #999;
}
.section__tittle:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;
    background-color: #f38181;
}
/*ABOUT*/
.about{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.about__item{
    background-color: #95e1d3;
    width: 380px;
    position: relative;
}
.about__item:hover .about__images{
    transform: translate3d(-10px, -10px, 0);
}
.about__item:hover .about__text{
    opacity: 1;

}
.about__item:hover .about__images img{
    opacity: .1;
}
.about__images{
    background: linear-gradient(to bottom, #f38181, #fce38a);
    transition: transform .1s linear;
}
.about__images img{
    display: block;
    transition: opacity .1s linear;
}
.about__text{
    width: 100%;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    transition: opacity .2s linear;
}
/*statistics*/
.statistics{
    background-color: #95e1d3;
}
.stat{
    display: flex;

}
.stat__item{
    padding: 70px 25px;
    flex: 1 1 0;
    border-left: 1px solid #b5eae0;
    text-align: center;
    color: white;
}
.stat__item:last-child{
    border-right: 1px solid #b5eae0;
}
.stat__count{
    margin-bottom: 10px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
}
.stat__text{
    font-size: 14px;
    text-transform: uppercase;
}
/*.services*/
.services{
    display: flex;
}
.services__item{
    flex: 1 1 0;
    padding-left: 0;
    padding-right: 100px;
    position: relative;
}
.services__icon{
    position: absolute;
    top: 0;
    left: -62px;
    z-index: 1;
}
.services__tittle{
    text-align: left;
    margin-bottom: 10px;
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;
    font-weight: 700;
}
.services__text{
    text-align: left;
    width: 317px;
    font-size: 15px;
    color: #999999;
}
.section--devices{
    background: url("../images/forest4.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding-bottom: 0;
}
.devices{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;

}
.devices__item{
    display: block;
}
.devices__item--iphone{
    position: absolute;
    bottom: -80px;
    right: 0;
    z-index: 1;
}




















